---
layout: default
languages:
- en
- de
subset: index
---
<div class="cover-wrapper">
  <section class="cover" id="cover">
    <div class="cover-container">
      <div class="typing-content">
        <h1 data-speed="120">{% t 'hello' %} <small data-speed="80" data-delay="1000">{% t 'intro' %}</small></h1>
        <p class="large">{% t 'slogan' %}</p>
        <p>{% t 'pitch' %}</p>
      </div>
      <div class="typing" id="typing"></div>
    </div>
    <a href="#contact" class="cover-arrow-down animated-scroll"></a>
  </section>
</div>
<div class="segment-wrapper contact-segment-wrapper">
  <section class="segment contact-segment" id="contact">
    <header class="segment-heading">
      <h2>{% t 'contact_heading' %}</h2>
    </header>
    <ul class="social-icons">
      <li>
        <a href="mailto:{{ site.email | encode_email }}" title="{% t 'send_an_email' %}">
          <img src="{{ site.baseurl }}/img/social-email.svg" alt="{% t 'send_an_email' %}"/>
        </a>
      </li>
      <li>
        <a href="skype:{{ site.skype | encode_email }}?call" title="{% t 'call_on_skype' %}">
          <img src="{{ site.baseurl }}/img/social-skype.svg" alt="{% t 'call_on_skype' %}"/>
        </a>
      </li>
      <li>
        <a href="https://github.com/vwochnik" target="_blank" title="{% t 'profile_on_github' %}">
          <img src="{{ site.baseurl }}/img/social-github.svg" alt="{% t 'profile_on_github' %}"/>
        </a>
      </li>
      {% comment %}<!-- Remove google+ from rendered page --><li>
        <a href="https://plus.google.com/+VincentWochnik?rel=author" target="_blank" title="{% t 'profile_on_gplus' %}">
          <img src="{{ site.baseurl }}/img/social-google-plus.svg" alt="{% t 'profile_on_gplus' %}"/>
        </a>
      </li>{% endcomment %}
      <li>
        <a href="http://lnkd.in/d5yxEw6" target="_blank" title="{% t 'profile_on_linkedin' %}">
          <img src="{{ site.baseurl }}/img/social-linkedin.svg" alt="{% t 'profile_on_linkedin' %}"/>
        </a>
      </li>
      <li>
        <a href="#" id="qr-code-link" title="{% t 'show_qrcode' %}">
          <img src="{{ site.baseurl }}/img/social-qrcode.svg" alt="{% t 'show_qrcode' %}"/>
        </a>
      </li>
    </ul>
    {% include inline/contact-form.html %}
  </section>
</div>
{% include inline/footer.html %}
{% include inline/qr-code-overlay.html %}
