---
layout: default
title: Web Development, Internet of Things and more
---
<div class="cover-wrapper">
  <section class="cover" id="cover">
    <div class="content-container">
      <div class="typing-content">
        <h1 data-speed="120">Hello! <small data-speed="80" data-delay="1000">I'm Vincent.</small></h1>
        <p class="tagline">I call myself a full-stack developer.</p>
      </div>
      <div class="typing" id="typing"></div>
    </div>
    <a href="#contact" class="arrow-down animated-scroll"></a>
  </section>
</div>
<div class="segment-wrapper jobs-segment-wrapper">
  <section class="segment jobs-segment">
    <header class="segment-heading">
      <h2>My Career</h2>
    </header>
    <ul class="jobs">
      {% for job in site.jobs reversed %}
        <li class="job">
          <img class="job-icon" src="{{ site.baseurl }}{{ job.icon }}" alt="{{ job.title }}">
          <div class="job-info">
            {% if job.until %}
              <div class="job-duration">{{ job.since }}&nbsp;&ndash; {{ job.until }}</div>
            {% else %}
              <div class="job-duration">{{ job.year }}</div>
            {% endif %}
            <a class="job-title" href="{{ site.baseurl }}{{ job.url }}" title="{{ job.title }}">{{ job.title }}</a>
            <span>{{ job.job }} at {{ job.company }}</span>
          </div>
        </li>
      {% endfor %}
    </ul>
  </section>
</div>
<div class="segment-wrapper contact-segment-wrapper">
  <section class="segment contact-segment" id="contact">
    <header class="segment-heading">
      <h2>Get in Touch</h2>
    </header>
    <ul class="social-icons">
      <li>
        <a href="mailto:{{ site.email | encode_email }}" title="Send me an E-mail">
          <img src="{{ site.baseurl }}/img/social-email.svg" alt="Send me an E-mail"/>
        </a>
      </li>
      <li>
        <a href="skype:{{ site.skype | encode_email }}?call" title="Call me on Skype">
          <img src="{{ site.baseurl }}/img/social-skype.svg" alt="Call me on Skype"/>
        </a>
      </li>
      <li>
        <a href="https://github.com/vwochnik" target="_blank" title="Visit my profile on GitHub">
          <img src="{{ site.baseurl }}/img/social-github.svg" alt="Visit my profile on GitHub"/>
        </a>
      </li>
      {% comment %}<!-- Remove google+ from rendered page --><li>
        <a href="https://plus.google.com/+VincentWochnik?rel=author" target="_blank" title="Visit my profile on Google+">
          <img src="{{ site.baseurl }}/img/social-google-plus.svg" alt="Visit my profile on Google+"/>
        </a>
      </li>{% endcomment %}
      <li>
        <a href="http://lnkd.in/d5yxEw6" target="_blank" title="Visit my profile on LinkedIn">
          <img src="{{ site.baseurl }}/img/social-linkedin.svg" alt="Visit my profile on LinkedIn"/>
        </a>
      </li>
    </ul>
    {% include inline/contact-form.html %}
  </section>
</div>
<svg class="background-shapes" id="shapes"></svg>
