<head lang="en" prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ site.description }}">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta property="og:locale" content="en">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}">
  <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,700|Open+Sans+Condensed:300,700|Titillium+Web:200,300,400,700|Linden+Hill:400&subset=latin">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
  <noscript><style>.cover>.cover-container>.typing-content{visibility:visible}</style></noscript>
  {% include inline/analytics.html %}
</head>
