<head lang="{{ page.language }}" prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="keywords" content="{% t 'common.site.keywords' %}">
  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{% t 'common.site.description' %}">
  <title>{% t 'title' %} | {% t 'common.site.title' %}</title>
  <meta property="og:locale" content="{{ page.language }}">
  <meta property="og:site_name" content="{% t 'common.site.title' %}">
  <meta property="og:title" content="{% t 'title' %}">
  <meta property="og:description" content="{% t 'common.site.description' %}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}">
  <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
  {% for language in page.languages %}
    {% if page.language != language %}
      <link rel="alternate" hreflang="{{ language }}" href="{{ site.url }}{{ site.baseurl }}{{ page.url | replace_first: page.language, language }}" />
    {% endif %}
  {% endfor %}
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,700|Open+Sans+Condensed:300,700|Titillium+Web:200,300,400,700|Linden+Hill:400&subset=latin">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
  {% include inline/analytics.html %}
</head>
