.contact-segment {
  input, textarea, button {
    display: block;
    box-shadow: none;
    font: inherit;
    outline: none;
    border: none;
    padding: 0.5em 0.7em;
  }

  input, textarea {
    width: 100%;
  }

  textarea {
    resize: none;
  }

  button {
    text-transform: uppercase;
  }
}

.social-icons {
  list-style-type: none;
  //@include inline-block-list(1.0em);
  margin: 2em auto 2em auto;
  padding: 0;
  text-align: center;

  > li {
    display: inline-block;
    padding: 0 1em;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  .social-icon {
    > a > img {
      width: 3em; height: 3em;
    }
  }
}

.contact-form {
  position: relative;

  > .contact-form-left-column,
  > .contact-form-right-column {
    opacity: 1.0;
    transition: opacity 0.5s ease-in-out;
  }

  > .contact-messages {
    @include flex-cover();
    @include overlay(absolute, 99, 0.5s);
  }

  &.with-messages {
    > .contact-form-left-column,
    > .contact-form-right-column {
      opacity: 0.3;
    }
  }
}
