.contact-segment {
  input, textarea {
    width: 100%;
  }

  textarea {
    resize: none;
  }

  button {
    text-transform: uppercase;
  }
}

.social-icons {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-left: 0;

  > li {
    display: inline-block;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

.contact-form {
  position: relative;

  > .contact-form-input {
    opacity: 1.0;
    transition: opacity 0.5s ease-in-out;
  }

  > .contact-messages {
    @include flex-cover();
    @include overlay(absolute, 99, 0.5s);
  }

  &.with-messages {
    > .contact-form-input {
      opacity: 0.3;
    }
  }
}
