@mixin cover-mixin($viewport, $size) {
  @include breakpoint($viewport) {
    .cover, .sash {
      > .content-container {
        max-width: $size;
      }
    }
  }
}

.cover, .sash {
  position: relative;
  @include flex-cover();

  > .cover-image-large {
    display: block;
    width: 40em;
    height: 40em;
  }

  > .content-container {
    position: relative;
    text-align: center;

    .tagline {
      text-transform: uppercase;
    }

    > .typing, > .typing-content {
      width: 100%;
    }

    > .typing {
      position: absolute;
      left: 0;
      top: 0;
    }

    > .typing-content {
      visibility: hidden;
    }
  }
}

.cover {
  /* IE 11 not supporting min-height: 100vh with vertically centered flex
   * items. */
  height: 100vh;
  min-height: 10rem;
  padding-bottom: 4.5rem;

  > .arrow-down {
    position: absolute;
    display: block;
    left: 0;
    bottom: 2rem;
    width: 100%;
    height: 2rem;
    background: url('/img/arrow-down.svg') no-repeat center center;
    background-size: contain;
  }
}

.sash {
  height: 40vh;
  min-height: 10rem;
}

@include cover-mixin($viewport-tiny, 90%);
@include cover-mixin($viewport-small, 80%);
@include cover-mixin($viewport-medium, 70%);
@include cover-mixin($viewport-large, 65%);
@include cover-mixin($viewport-huge, 60%);
