/*
 * This file contains font sizes and typography adjustments.
 */

@mixin font-scaling-mixin($viewport, $scale) {
  $root-font-size: $scale * 16px;
  $root-line-height: $scale * 20px;

  @include breakpoint($viewport) {
    html {
      font-size: $root-font-size;
      line-height: $root-line-height;
    }

    body {
       font-size: $scale * $body-font-size;
       font-size: $scale * $body-font-size / $root-font-size * 1rem;
       line-height: $scale * 1em;
    }

    h1 {
       font-size: $scale * $h1-font-size;
       font-size: $scale * $h1-font-size / $root-font-size * 1rem;
    }

    h2 {
       font-size: $scale * $h2-font-size;
       font-size: $scale * $h2-font-size / $root-font-size * 1rem;
    }

    h3 {
       font-size: $scale * $h3-font-size;
       font-size: $scale * $h3-font-size / $root-font-size * 1rem;
    }

    footer {
       font-size: $scale * $footer-font-size;
       font-size: $scale * $footer-font-size / $root-font-size * 1rem;
    }
  }
}

body {
   font-family: $body-font-face;
}

.segment > .segment-heading,
.footer-segment {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-face;
  font-weight: $heading-font-weight;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

a {
  &, &:visited, &:active {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

.screenreader {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@include font-scaling-mixin($viewport-tiny, $font-scale-tiny);
@include font-scaling-mixin($viewport-small, $font-scale-small);
@include font-scaling-mixin($viewport-medium, $font-scale-medium);
@include font-scaling-mixin($viewport-large, $font-scale-large);
@include font-scaling-mixin($viewport-huge, $font-scale-huge);
