/*
 * This file contains grid layout definitions.
 */

/* global susy grid settings */
*, *:before, *:after {
  box-sizing: border-box;
}

@mixin segment-grid($viewport, $container, $gutters) {
  @include breakpoint($viewport) {
    .segment {
      @if $container {
        margin: 0 auto;
        max-width: $container;
      }

      padding-left: $gutters;
      padding-right: $gutters;
    }
  }
}

@mixin contact-form-grid($viewport, $gutters) {
  @include breakpoint($viewport) {
    .contact-form {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(4, auto);
      grid-template-areas: 
        "name message"
        "email message"
        "subject message"
        ". submit";
      grid-column-gap: $gutters;

      .contact-form-name {
        grid-area: name;
      }
      
      .contact-form-email {
        grid-area: email;
      }
      
      .contact-form-subject {
        grid-area: subject;
      }
      
      .contact-form-message {
        grid-area: message;
      }
      
      .contact-form-submit {
        grid-area: submit;
      }
    }
  }
}

// segment grid
@include segment-grid($viewport-tiny, false, 3%);
@include segment-grid($viewport-small, false, 3%);
@include segment-grid($viewport-medium, 80%, 3%);
@include segment-grid($viewport-large, 75%, 3%);
@include segment-grid($viewport-huge, 60%, 3%);

// contact form grid
@include contact-form-grid($viewport-small, 3%);
@include contact-form-grid($viewport-medium, 3%);
