/*
 * This file contains grid layout definitions.
 */

/* global susy grid settings */
* {
  box-sizing: border-box;
}

@mixin segment-grid($viewport, $container, $gutters) {
  @include breakpoint($viewport) {
    .segment {
      @if $container {
        margin: 0 auto;
        max-width: $container;
      }

      padding-left: $gutters;
      padding-right: $gutters;
    }
  }
}

@mixin two-column-grid($class, $viewport, $gutters, $with-columns) {
  @include breakpoint($viewport) {
    .#{$class} {
      @if $with-columns {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-gap: $gutters;
      }
    }
  }
}

// segment grid
@include segment-grid($viewport-tiny, false, 3%);
@include segment-grid($viewport-small, false, 3%);
@include segment-grid($viewport-medium, 80%, 3%);
@include segment-grid($viewport-large, 75%, 3%);
@include segment-grid($viewport-huge, 60%, 3%);

// contact form grid
@include two-column-grid('contact-form', $viewport-tiny, 3%, false);
@include two-column-grid('contact-form', $viewport-small, 3%, true);
@include two-column-grid('contact-form', $viewport-medium, 3%, true);

// contact form grid
@include two-column-grid('portfolio-listing', $viewport-tiny, 1/24, false);
@include two-column-grid('portfolio-listing', $viewport-small, 1/24, true);
@include two-column-grid('portfolio-listing', $viewport-medium, 1/12, true);
