$text-color: rgb(77, 77, 77);
$bg-entry: rgb(80,80,80);

.jobs {
  margin: 0px auto;
  max-width: 40em;
  overflow:hidden;
  height: auto;
  position: relative;
  padding: 0px;
  list-style-type:none;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 0;
    border-left: 0.1em dashed transparent;
    margin-left: -0.05em;
    z-index: -1;
  }

  .job {
    position: relative;
    float: right;
    clear: right;
    width: 45%;
    margin: 1em 2.5%;

    list-style-type: none;
    display: block;
    padding: .4em;
    z-index: 15;

    text-decoration: none;

    .job-icon {
      float: left;
      width: 3rem;
      height: 3rem;
    }

    .job-info {
      margin: 0 0 0 3.5rem;
      text-align: left;

      .job-title {
        display: block;
      }
    }

    &:nth-child(2) {
      margin-top: 4rem;
    }

    &:nth-of-type(2n) {
      float: left;
      clear: left;

      .job-icon {
        float: right;
      }

      .job-info {
        margin: 0 3.5rem 0 0;
        text-align: right;
      }
    }
  }
}
