.menu {
  @include overlay(absolute, 2, 1s);
  @include flex-cover();

  > .overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  > .content-container {
    text-align: center;
  }

  .menu-items {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      text-transform: uppercase;

      > a {
        text-decoration: none;
      }
    }
  }
}

.logo {
  position: absolute;
  display: block;
  z-index: 3;
  top: 2rem;
  left: 2rem;
  line-height: 2rem;
  font-size: 1.5rem;

  &:hover {
    text-decoration: none;
  }
}

.logo, .logo-segment {
  .sp {
    @include invisible-text();
  }

  .last {
    font-weight: 700;
  }
}

.menu-button {
  position: absolute;
  display: block;
  z-index: 3;
  top: 2rem;
  right: 2rem;
  width: 2rem;
}
