/*
 * This file contains settings variables used in other included SCSS files.
 */

// tiny mobile phones
$viewport-tiny:   'screen';
// portrait mobile phones
$viewport-small:  'screen' (min-width 34em);
// tablets
$viewport-medium: 'screen' (min-width 48em);
// laptops and desktops
$viewport-large:  'screen' (min-width 62em);
// large desktops and televisions
$viewport-huge:   'screen' (min-width 75em);

$rhythm-tiny:   ( font-size: 0.75 * 12pt, modular-scale: 1.1 );
$rhythm-small:  ( font-size: 0.8 * 12pt, modular-scale: 1.12 );
$rhythm-medium: ( font-size: 1.0 * 12pt, modular-scale: 1.125 );
$rhythm-large:  ( font-size: 1.2 * 12pt, modular-scale: 1.135 );
$rhythm-huge:   ( font-size: 1.5 * 12pt, modular-scale: 1.15 );

/* font faces and sizes */
$body-font-face: "Open Sans", Arial, Helvetica, sans-serif;
$heading-font-face: "Titillium Web", sans-serif;
$heading-font-weight: 200;

/* theme colors */
$light-orange: #F6B352;
$dark-orange: #F68657;
$light-gray: #383A3F;
$dark-gray: #1F2124;
$theme-background-color: #ffffff;
$theme-text-color: #c7bfc9;
$theme-primary-color: #00c0ff;
$theme-error-color: #ff00c0;
