.default-page .footer-segment-wrapper {
  position: relative;

  &:before, &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
  }

  &:before {
    top: 0;
    height: 0;
    padding-bottom: 4%;
    transform: skew(0,2deg);
  }

  &:after {
    top: 0;
    bottom: 0;
    margin-top: 2%;
  }
}
