/*
 * This file contains theming definitions.
 */

body {
  color: $theme-text-color;
  background-color: $theme-background-color;
}

.landing-page {
  background-image: url('/img/background-pattern.svg');
  background-position: center center;
}

a, a:visited, a:active, a:hover {
  color: $theme-primary-color;
}

.logo {
  color: $theme-text-color !important;
}

.menu-overlay {
  background-color: rgba($theme-background-color, 0.9);
}

.menu-button {
  > .burger {
    @include burger(2rem, 0.24rem, 0.4rem, $theme-text-color);
  }

  &.active {
    > .burger {
      @include burger-to-cross;
    }
  }
}

.portrait {
  border-color: $theme-primary-color;
}

.contact-form {
  input, textarea {
    background-color: rgba($theme-primary-color, 0.2);
    color: $theme-text-color;
  }
}

.contact-form button,
.read-more, .read-more:visited, .read-more:active, .read-more:hover {
  background-color: $theme-primary-color;
  color: $theme-background-color;
}

.social-icons a,
.contact-form button,
.contact-icon a,
.read-more {
  opacity: 0.8;
  transition: opacity 0.5s ease-in-out;

  &:hover, &:active {
    opacity: 1.0;
  }
}

.contact-messages > .contact-message {
  &.contact-message-success {
    color: $theme-primary-color;
  }

  &.contact-message-error {
    color: $theme-error-color;
  }
}

.footer-segment-wrapper {
  &:before, &:after {
    background-color: $theme-footer-color;
  }

  .footer-segment {
    color: $theme-footer-text-color;

    a, a:visited, a:active, a:hover {
      color: $theme-footer-text-color;
    }
  }
}
