<form class="contact-form" id="contact-form">
<div class="contact-form-left-column">
  <div class="contact-form-input">
    <label for="contact-name" class="screenreader">Your name</label>
    <input id="contact-name" type="text" class="form-control" placeholder="Your name">
  </div><!-- /.input-group -->
    <div class="contact-form-input">
      <label for="contact-email" class="screenreader">Your E-mail address</label>
      <input id="contact-email" type="text" class="form-control" placeholder="Your E-mail address">
    </div><!-- /.input-group -->
    <div class="contact-form-input">
      <label for="contact-subject" class="screenreader">Subject</label>
      <input id="contact-subject" type="text" class="form-control" placeholder="Subject">
    </div><!-- /.input-group -->
</div><!-- /.form-column -->
<div class="contact-form-right-column">
  <div class="contact-form-input">
    <label for="contact-message" class="screenreader">Message</label>
    <textarea id="contact-message" class="form-control" rows="6" placeholder="Type your message"></textarea>
  </div><!-- /.form-group -->
  <div class="contact-form-input">
    <button id="contact-submit" class="btn btn-brand"><span class="glyphicon glyphicon-ok"></span> Send message</button>
  </div><!-- /.form-group -->
</div><!-- /.form-column -->
</form>
<div id="contact-result" class="contact-result"></div>
