<form class="contact-form" id="contact-form" data-persist="garlic">
<div class="contact-form-left-column">
  <div class="contact-form-input">
    <label for="contact-name" class="screenreader">{% t 'contact_form_name_label' %}</label>
    <input id="contact-name" name="name" type="text" placeholder="{% t 'contact_form_name_label' %}">
  </div>
    <div class="contact-form-input">
      <label for="contact-email" class="screenreader">{% t 'contact_form_email_label' %}</label>
      <input id="contact-email" name="email" type="text" placeholder="{% t 'contact_form_email_label' %}">
    </div>
    <div class="contact-form-input">
      <label for="contact-subject" class="screenreader">{% t 'contact_form_subject_label' %}</label>
      <input id="contact-subject" name="subject" type="text" placeholder="{% t 'contact_form_subject_label' %}">
    </div>
</div>
<div class="contact-form-right-column">
  <div class="contact-form-input">
    <label for="contact-message" class="screenreader">{% t 'contact_form_message_label' %}</label>
    <textarea id="contact-message" name="message" rows="6" placeholder="{% t 'contact_form_message_label' %}"></textarea>
  </div>
  <div class="contact-form-input">
    <button id="contact-submit" type="submit">{% t 'contact_form_send' %}</button>
  </div>
</div>
<div id="contact-messages" class="contact-messages">
  <span class="contact-message contact-message-sent contact-message-success">{% t 'contact_message_sent' %}</span>
  <span class="contact-message contact-message-send-failed contact-message-error">{% t 'contact_message_send_failed' %}</span>
  <span class="contact-message contact-message-ticket-failure contact-message-error">{%t 'contact_message_ticket_failure' %}</span>
</div>
</form>
