<div class="qr-code-overlay" id="qr-code-overlay">
  <div class="qr-code-wrapper">
    <section class="segment qr-code-segment">
      <div class="qr-code-images">
        <div class="qr-code-images-left-column">
          <img class="qr-code-image-responsive" src="/img/cell-qr-shot.svg" alt="">
        </div>
        <div class="qr-code-images-right-column">
          <img class="qr-code-image-responsive" src="/img/contact-qr.svg" alt="">
        </div>
      </div>
      <header class="segment-heading">
        <h2>{% t 'scan_qr_code' %}</h2>
      </header>
      <p class="qr-code-description">{% t 'scan_qr_code_instruction': '/contact.vcf' %}</p>
      </div>
    </section>
  </div>
</div>
