<div class="qr-code-overlay" id="qr-code-overlay">
  <div class="qr-code-wrapper">
    <section class="segment qr-code-segment">
      <div class="qr-code-images">
        <div class="qr-code-images-left-column">
          <img class="qr-code-image-responsive" src="/img/cell-qr-shot.svg" alt="">
        </div>
        <div class="qr-code-images-right-column">
          <img class="qr-code-image-responsive" src="/img/contact-qr.svg" alt="">
        </div>
      </div>
      <header class="segment-heading">
        <h2>Use a qr code app</h2>
      </header>
      <p>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos voluptates excepturi illo, cupiditate? Dolorum quis illo officiis, nostrum consequatur, maiores harum sit praesentium dolore in ipsam officia delectus, ipsa obcaecati!</span>
        <span>Quia nostrum nemo maiores at illum autem voluptatem. Dolor quasi voluptates similique placeat sint nam laudantium quaerat excepturi labore ipsum quisquam ab est mollitia libero ex eum, sequi corrupti, consequatur.</span>
        <span>Quaerat rem in laudantium eveniet eaque saepe dicta excepturi, modi necessitatibus nulla quisquam quis aperiam repellendus at fugiat temporibus. Similique, rerum. In nesciunt culpa vero fugiat quasi aperiam, excepturi facilis.</span>
      </p>
      </div>
    </section>
  </div>
</div>
